body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #0b8585; /* Azul cielo */
    color: #333; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente por defecto */
}

h1, p {
    text-align: center; /* Centrar el texto */
}

form {
    max-width: 600px; /* Ancho máximo del formulario */
    margin: auto; /* Centrar el formulario */
    padding: 20px; /* Espaciado interno */
    background-color: white; /* Fondo blanco para el formulario */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

label {
    display: block; /* Mostrar etiquetas en bloque */
    margin: 10px 0 5px; /* Margen para las etiquetas */
}

input, select, textarea, button {
    width: 100%; /* Ancho completo para todos los campos */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espacio entre campos */
    border: 1px solid #c70808; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
}

button {
    background-color: #4CAF50; /* Color del botón */
    color: white; /* Color del texto en el botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
}

button:hover {
    background-color: #45a049; /* Color del botón al pasar el ratón */
}
